
/* star main style */

body{
    background-color: rgb(110, 108, 108);
    font-size: 16px;
}

.h1{
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}

.asterisk {

    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: rgb(218, 14, 14);
}

.nice-message {
    padding: 20px;
    background-color: #FFF;
    margin: 30px 0;
    border-left: 5px solid rgb(0, 104, 136);
    text-decoration-color: blue;
    font-weight: bold;
    text-decoration-color: blue;

}

/* end main style */

/*Start navbar bootstrap Edit   */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav > li > a ,
.navbar-brand {
    padding:  15px 12px;
}

.navbar-brand {
    font-size: 2em;
}

.navbar-inverse .navbar-nav > .open>a,
.navbar-inverse .navbar-nav > .open>a:focus,
.navbar-inverse .navbar-nav > .open>a:hover,
.dropdown-menu {
    background-color: rgb(120, 196, 219);
}

.dropdown-menu {
    color: rgb(30, 196, 196);
    min-width: 180px;
    padding: 0;
    font-size: 1em;
}

.dropdown-menu > li > a {
    color: rgb(4, 40, 240);

}

.form-control{

    position: relative;
}

/* End navbar Bootstrap Edite */

/* Start Dashbord Page */

.home-stats .stat{

    padding: 20px;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.home-stats .stat i {
    position: absolute;
    font-size: 88px;
    top: 35px;
    left: 30px;
}

.home-stats .stat i:hover{
    cursor: pointer;
}

.home-stats .stat .info {
    float: right;
}

.home-stats .stat a{

    color: #fff;
}

.home-stats .stat a:hover{

    text-decoration: none;
}

.home-stats .stat span{

    display: block;
    font-size: 60px;
}

.home-stats .st-members{
    background-color: #3498db;
}

.home-stats .st-pending{
    background-color: #c0392b;
}

.home-stats .st-items{
    background-color: #dd5e0a;
}

.home-stats .st-comments{
    background-color: #8e44ad;
}

.latest{

    margin-top: 30px;
}

.latest .toggle-info{
    color: #999;
    cursor: pointer;
}

.latest .toggle-info:hover{
    color: #444;
}

.latest-users{
    margin-bottom: 0;
}

.latest-users li{
    padding: 3px;
    overflow: hidden;
}

.latest-users li:nth-child(odd) {
    background-color: #EEE;
}

.latest-users .btn-success
.latest-users .btn-info {
    padding: 2px 8px;
}

.latest-users .btn-info {
    margin-right: 5px;
}
.latest .comment-box{
    margin: 5px 0 10px;
}

.latest .comment-box .member-n,
.latest .comment-box .member-c {
    float: left;
}

.latest .comment-box .member-n {
    width: 80px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.latest .comment-box .member-c {
    width: calc(100% - 100px);
    background-color: #EFEFEF;
    padding: 10px;
    position: relative;
    
}

.latest .comment-box .member-c:before {
    content: "";
    display: block;
    position: absolute;
    left: -28px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #EFEFEF transparent transparent;
    border-width: 15px;
}
/* End Dashbord Page */

/* Start Members Page */

.show-pass {
    
    position: absolute;
    top: 6px;
    right: -30;
}

.main-table {

    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
}

.main-table td {

    background-color: #FFF;
    vertical-align: middlev !important;

}
.main-table tr:first-child td {

    background-color: #333;
    color: #FFF;
    
}

.main-table .btn {

    padding: 3px 10px;
}

.Activate {
    margin-left: 5px;
}


.main-table tr:first-child td {

    background-color: #333;
    color: #FFF;
    
}


/* Start Category Page */

.categories .panel-body{
    padding: 0;
}

.categories .panel-heading{
    color: rgb(117, 93, 66);
    font-weight: bold;
}

.categories .panel-heading i{   
    position: relative;
    top: 1px;
}

.categories .option a {
    color: #888;
    text-decoration: none;

}

.categories .option span {
    color: #888;
    cursor: pointer;
}

.categories .option .active{
    color: #F00;
    font-weight: bold;
}
.categories hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.categories .cat{
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.categories .cat:hover{
    background-color: #EEE;
}

.categories .cat:hover .hidden-buttons{
    right: 10px;
}

.categories .cat:hover .hidden-buttons a{
    margin-right: 5px;
}

.categories .cat h3 {
    margin: 0px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(77, 66, 66);

}

.categories .cat .full-view p{
    margin: 10px 0;
    color: #707070;
}

.categories .cat .hidden-buttons{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -120px;
}

.categories .cat .hidden-buttons{
    margin-right: 5px;

}
.categories .cat:last-of-type ~ hr{
    display: none;
}

.categories .visibility{
    background-color: #e26456;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 6px;
}

.categories .commenting{
    background-color: #0f7553;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 6px;
}

.categories .advertises{
    background-color: #820692;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 6px;
}

.categories .add-category{
    margin-top: -10px;
    margin-bottom: 30px;
}
/* End Category Page */